@media (max-width: 1084px) {
  .work-block .work-big {
    width: 91%;
  }
  .work-box {
    width: 92px;
  }
}
@media (max-width: 1078px) {
  .work-block .work-small {
    width: 87%;
  }
  .work-block .work-big {
    width: 85%;
  }
}

@media (max-width: 1063px) {
  .main img {
    max-width: 460px;
  }
}
@media (max-width: 1013px) {
  .work-block .work-small {
    width: 76%;
  }
}
@media (max-width: 967px) {
  .container {
    padding-inline: 50px;
  }
  nav {
    display: none;
  }
  .burger-menu {
    display: flex;
    justify-content: flex-end;
  }
  .main-text {
    gap: 20px;
  }

  #main {
    padding-block: 40px;
  }
}
@media (max-width: 942px) {
  .main-image img {
    max-width: 400px;
  }
}
@media (max-width: 925px) {
  .main-rating h2 {
    font-size: 20px;
  }
  .main-rating h2 span {
    font-size: 17px;
  }
  .main-image img {
    max-width: 360px;
  }
}
@media (max-width: 878px) {
  .work-block .work-small {
    width: 66%;
  }
  .work-block1 {
    display: none;
  }
}
@media (max-width: 861px) {
  .main-text h1 {
    max-width: 600px;
    font-size: 40px;
  }
}
@media (max-width: 839px) {
  .main-text {
    gap: 10px;
  }
}
@media (max-width: 805px) {
  .work-block .work-big {
    width: 75%;
  }
  .work-block .work-small {
    width: 82%;
  }
}
@media (max-width: 781px) {
  .work-block {
    gap: 10px;
  }
  .work-block .work-big {
    width: 67%;
  }
  .work-block .work-small {
    width: 71%;
  }
}

@media (max-width: 770px) {
  .main-text h1 {
    font-size: 35px;
  }
}
@media (max-width: 749px) {
  .work-block .work-small {
    width: 68%;
  }
  .work-title,
  h1 {
    font-size: 31px;
  }
  .work-title,
  p {
    font-size: 15px;
  }
}
@media (max-width: 733px) {
  .main-text h1 {
    font-size: 30px;
  }
  .main-image img {
    max-width: 300px;
  }
  .main-image {
    padding-bottom: 10px;
  }
}
@media (max-width: 732px) {
  .main-image img {
    max-width: 278px;
  }
}
@media (max-width: 670px) {
  .main-text p {
    line-height: 23px;
  }
  #main {
    padding-block: 23px;
  }
  #header {
    padding-block: 20px;
  }
}
@media (max-width: 668px) {
  .main-text button {
    padding: 10px 20px;
  }
  .main-text h1 {
    font-size: 29px;
  }
}
@media (max-width: 658px) {
  .main-text h1 {
    font-size: 28px;
  }
}
@media (max-width: 648px) {
  .main-rating h2 {
    font-size: 14px;
    span {
      font-size: 13px;
    }
  }
}
@media (max-width: 604px) {
  .main-text p {
    line-height: 19px;
  }
  .main-image img {
    max-width: 261px;
  }
  .main-image {
    padding-bottom: 2px;
  }
}
@media (max-width: 585px) {
  .work-block .work-small {
    width: 49%;
  }
  .work-block2 {
    display: none;
  }
}
@media (max-width: 584px) {
  .main-image img {
    max-width: 250px;
  }
  .main-text h1 {
    font-size: 27px;
  }
  .main-text p {
    font-size: 12px;
  }
}
@media (max-width: 555px) {
  .main {
    flex-direction: column;
  }
  .main-text {
    justify-content: center;
  }
  .main-image2 {
    display: block;
  }
  .main-image {
    display: none;
  }
  .main img {
    max-width: 330px;
  }
  .main-text h1 {
    font-size: 28px;
    line-height: 35px;
    width: 350px;
  }
  .main-text p {
    font-size: 14px;
    line-height: 25px;
    width: 300px;
  }
  .main-content_image h1 {
    font-size: 20px;
  }
  .main-text button {
    padding: 14px 116px;
    border-radius: 10px;
  }
  .main-rating {
    width: 85%;
  }
  .main-rating h2 {
    font-size: 18px;
    span {
      font-size: 16px;
    }
  }
}
@media (max-width: 490px) {
  .main-text p {
    font-size: 12px;
    line-height: 20px;
  }
  .main img {
    max-width: 310px;
  }
  .main-text button {
    padding: 15px 112px;
  }
  .main-content_image h1 {
    font-size: 17px;
  }
  .main-image2 {
    max-width: 311px;
  }
  .main-text button {
    padding: 14px 108px;
  }
}
@media (max-width: 451px) {
  .main-text h1 {
    font-size: 26px;
  }
  .main img {
    max-width: 293px;
  }
  .main-image2 {
    max-width: 293px;
  }
  .main-text h1 {
    width: 300px;
  }
}
@media (max-width: 440px) {
  .main-text p {
    font-size: 12px;
    line-height: 18px;
  }
  .main-image2 h1 {
    font-size: 18px;
  }
  .main-content_image {
    gap: 4px;
  }
  .main img {
    max-width: 273px;
  }
  .main-image2 {
    max-width: 273px;
  }
  .main-text button {
    padding: 14px 87px;
  }
}
@media (max-width: 403px) {
  .main-text p {
    font-size: 11px;
  }
}
@media (max-width: 396px) {
  .work-title h1 {
    font-size: 25px;
  }
}
@media (max-width: 385px) {
  .work-block .work-big {
    width: 75%;
  }
  .work-title p {
    font-size: 14px;
  }
  .work-block h2 {
    font-size: 16px;
  }
  .work-title {
    padding-bottom: 20px;
  }
}
@media (max-width: 376px) {
  .work-block .work-small {
    width: 68%;
  }
}

@media (max-width: 374px) {
  .main-text h1 {
    width: 243px;
  }
  .main-text p {
    max-width: 240px;
  }
  .main img {
    max-width: 248px;
  }
  .main-image2 {
    max-width: 248px;
  }
}
@media (max-width: 366px) {
  .work-title p {
    font-size: 12px;
  }
}
@media (max-width: 355px) {
  .work-block .work-small {
    width: 79%;
  }
}

@media (max-width: 350px) {
  .main-text button {
    padding: 16px 79px;
  }
  .main-text h1 {
    width: 233px;
  }
  .main-text p {
    max-width: 222px;
  }
  .main img {
    max-width: 217px;
  }
  .main-image2 {
    max-width: 217px;
  }
  .main-text button {
    padding: 13px 70px;
  }
  .work-block .work-small {
    width: 60%;
  }
}

@media (max-width: 347px) {
  .main-text h1 {
    font-size: 30px;
  }
  .main-text {
    gap: 20px;
  }
  .main-rating h2 {
    font-size: 19px;
  }
  .main-rating h2 {
    span {
      font-size: 11px;
    }
  }
}
@media (max-width: 330px) {
  .work-title h1 {
    font-size: 23px;
  }
  .work-block .work-big {
    width: 99%;
  }
  .work-block .work-small {
    width: 75%;
  }
}

@media (max-width: 320px) {
  .work-title h1 {
    font-size: 22px;
  }
  .work-block .work-big {
    width: 99%;
  }
  .work-title {
    padding-bottom: 20px;
  }
  .work-title p {
    font-size: 13px;
  }
  .work-block .work-small {
    width: 71%;
  }
}
